.app-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
   "h h"
    "n c";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 350px 8fr;
    /*grid-gap: 10px;*/
}
.app-wrapper-content {
    grid-area: c;
    background: linear-gradient(0.25turn, #3f87a6, #1eabe8);
}