.dialogs {
    padding: 10px;
    display: grid;
    grid-template-columns:repeat(2, 2fr 10fr);


}

.dialogs__items {
    font-size: 20px;
}

.dialog .activeItem {
    font-size: 30px;
}

.messages {
    padding-left: 10px;
}

.messages .dialog {
    color: white;
    font-size: 30px;
}
.photoProfile{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.dialog a {
    color: white;
}