.nav {
    font-family: "Georgia Pro Semibold";
    grid-area: n; /*псевдонимы*/
    background: linear-gradient(0.25turn,  #1eabe8, #ffffff   );
}

.item{
    color: white;
    font-size: 30px;
}

.item a.activeLink {
    color: red;
}