.nav {
    font-family: "Georgia Pro Semibold";
    grid-area: n; /*псевдонимы*/
    background: linear-gradient(0.25turn,  #1eabe8, #ffffff   );
}

.item{
    color: white;
    font-size: 30px;
}

.item a.activeLink {
    color: gold;
}

.friends{
    display: grid;
    grid-template-columns: repeat(3, 1fr  );
}
.friends__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.friends{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    color:  grey;
}
